
<li id="<%= dom_id room %>" data-room-list-target="listItem">
  <p>
    <strong>Room</strong>: <%= room.name %>
  </p>
  <%= link_to "Enter Room", room_path(room), data: { "turbo-frame": "room-modal" } %>
</li>