<h1> All Rooms!! </h1>

<h2>
  There is no user.
  <%=
    link_to "Create a user",
             new_user_path,
             data: { "turbo-frame": "room-modal", action: "click->modal#showModal" }
  %>
</h2>
 

<%= turbo_stream_from "rooms" %>

<div data-controller="room-list" data-room-list-hidden-class="hidden">
  <ul id="rooms">
    <%= render @rooms if @rooms.present? %>
  </ul>
  <h2 class="text-red-500" data-room-list-target="header">
    There are no rooms yet
  </h2>
</div>

<%= turbo_frame_tag "room-form", src: new_room_path %>
